.App {
  text-align: center;
  display: flex;
}

.Board {
  width: 400px;
  height: 400px;
  display:grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  margin: 50px;
}

.Square {
  width: 50px;
  height: 50px;
  background: green;
  border: solid 2px;
  border-color: black;
}

.none {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: "#0000";
}

.black {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: black;
}

.white {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: white;
}

.LogTable{
}

.LogTable td, th {
  border-bottom: solid 1px;
  width: 100px;
  height: 50px;
}

