.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.Board {
  width: 400px;
  height: 400px;
  display:grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  margin: 50px;
}

.Square {
  width: 50px;
  height: 50px;
  background: green;
  border: solid 2px;
  border-color: black;
}

.none {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: "#0000";
  border-radius: 50%;
}

.black {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: black;
}

.white {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  background: white;
}

.track{
  width: 10px;
  height: 10px;
  background: aqua;
  margin: 20px 0 0 20px;
}

.LogTable{
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 2px;
  margin: 50px;
}

.LogTable td {
  border: solid 1px;
  width: 100px;
  height: 30px;
  margin: 0 0 0 0;
}

.LogTable .windata{
  background: lightcoral;
}

.LogTable .losedata{
  background-color: lightcyan;
}

.LogTable th{
  border: solid 2px;
  width: 100px;
  height: 50px;
  margin: 0 0 0 0;
}

.result {
  padding: 0px 0px 20px 0px;
  font-size: 20px;
}

.submitButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background: greenyellow;
  border: none;
}